@model ViewModels.AboutViewModel
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}


<!-- :: Breadcrumb Header -->
<section class="breadcrumb-header" id="page" style="background-image: url(assets/images/header/06_header.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="banner">
                    <h1>درباره ما</h1>
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li><i class="fas fa-angle-right"></i></li>
                        <li>درباره ما</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- :: About -->
<section class="about py-100" id="about-us">    
        @Html.Raw(Model.section1.Body)    
</section>

<!-- :: Provide -->
<section class="provide">
    @Html.Raw(Model.section2.Body)
</section>


<!-- :: Practice Area -->
<section class="practice-area py-100-70">
    @Html.Raw(Model.section3.Body)
</section>

