
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}

<!-- :: Breadcrumb Header -->
<section class="breadcrumb-header" id="page" style="background-image: url(assets/images/header/07_header.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="banner">
                    <h1>Contacts</h1>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><i class="fas fa-angle-right"></i></li>
                        <li>Contacts</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- :: History -->
<section class="history">
    <div class="bg-section">
        <div class="overlay"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="sec-title text-center">
                    <h2>History</h2>
                    <h3>Timeline Company</h3>
                </div>
            </div>
        </div>
        <div class="history-line owl-carousel owl-theme">
            <div class="box-line">
                <div class="head">
                    <h4>Founding</h4>
                </div>
                <div class="down">
                    <span>2016</span>
                    <span>May, 5</span>
                </div>
            </div>
            <div class="box-line">
                <div class="head">
                    <h4>Serious Clients</h4>
                </div>
                <div class="down">
                    <span>2017</span>
                    <span>mar, 8</span>
                </div>
            </div>
            <div class="box-line">
                <div class="head">
                    <h4>human Rights</h4>
                </div>
                <div class="down">
                    <span>2018</span>
                    <span>April, 12</span>
                </div>
            </div>
            <div class="box-line">
                <div class="head">
                    <h4>Nominee Of The Year</h4>
                </div>
                <div class="down">
                    <span>2019</span>
                    <span>June, 19</span>
                </div>
            </div>
            <div class="box-line">
                <div class="head">
                    <h4>Best Firm Of the year</h4>
                </div>
                <div class="down">
                    <span>2020</span>
                    <span>may, 20</span>
                </div>
            </div>
        </div>
    </div>

    <!-- :: Quote -->
    <div class="quote">
        <div class="container">
            <div class="box">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="img-box">
                            <div class="quote-img">
                                <img class="img-fluid" src="assets/images/quote/01_quote.jpg" alt="01 Quote">
                            </div>
                            <div class="quote-info">
                                <i class="flaticon-call"></i>
                                <h4>+(002) 0121-2843-661</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="quote-box">
                            <div class="sec-title">
                                <h3>Get Every Updates</h3>
                                <p>Decision Are A Professional Attorney &amp; Lawyers Services Provider Institutions. Suitable For Law Firm, Injury Law, Traffic Ticket Attorney, Legacy And More.</p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="quote-item">
                                        <input type="text" name="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="quote-item">
                                        <input type="email" name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="quote-item">
                                        <input type="text" name="subject" placeholder="Enter Your Subject">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="quote-item">
                                        <select>
                                            <option value="0">Practice Area</option>
                                            <option value="1">Business Law</option>
                                            <option value="2">Family Law</option>
                                            <option value="3">Real Estate Law</option>
                                            <option value="4">Juricial Law</option>
                                            <option value="5">Criminal Law</option>
                                            <option value="6">Personal Injury</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="quote-item">
                                        <div class="quote-item">
                                            <textarea placeholder="Leave Your Message Here....."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="quote-item">

                                        <a class="btn-1" href="#">Send Message</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







