@model ViewModels.ConsultantViewModel
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}

<!-- :: Breadcrumb Header -->
<section class="breadcrumb-header" id="page" style="background-image: url(assets/images/header/07_header.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="banner">
                    <h1>تماس با ما</h1>
                    <ul>
                        <li><a href="index.html">خانه</a></li>
                        <li><i class="fas fa-angle-right"></i></li>
                        <li>تماس با ما</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- :: History -->
<section class="history">
    @Html.Raw(Model.section1.Body)
    @Html.Raw(Model.section2.Body)
    <!-- :: Quote -->
    <div class="quote">
        <div class="container">
            <div class="box">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="img-box">
                            <div class="quote-img">
                                <img class="img-fluid" src="assets/images/quote/01_quote.jpg" alt="01 Quote">
                            </div>
                            <div class="quote-info">
                                <i class="flaticon-call"></i>
                                <h4>+(002) 0121-2843-661</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="quote-box">
                            <div class="sec-title">
                                <h3>جدیدی ترین مقالات را مطالعه کنید</h3>
                                <p>امور حقوقی خود را با خیالی آسوده به ما بسپارید<strong>تجربه بالا، دانش به روز، آموزش مداول و قدرت تصمیم گیری باعث شده است تا وکلای موسسه حقوقی کاخ عدالت بهترین عملکرد را در سال های اخیر داشته باشند</strong></p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="quote-item">
                                        <input type="text" name="name" placeholder="نام و نام خانوادگی">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="quote-item">
                                        <input type="email" name="email" placeholder="تلفن تماس">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="quote-item">
                                        <input type="text" name="subject" placeholder="عنوان">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="quote-item">
                                        <select>
                                            <option value="0">دایره حقوقی</option>
                                            <option value="1">قوانین مالی</option>
                                            <option value="2">قوانین خانواده</option>
                                            <option value="3">قوانین ملکی</option>
                                            <option value="4">قوانین کیفری</option>                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="quote-item">
                                        <div class="quote-item">
                                            <textarea placeholder="متن پیام....."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="quote-item">

                                        <a class="btn-1" href="#">ارسال پیام</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







