
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<!-- :: Required Meta Tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- :: Bootstrap CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

	<!-- :: Favicon -->
	<link rel="icon" type="image/png" href="/assets/images/favicon.png">

	<!-- :: Title -->
	<title>موسسه حقوقی صور آخر</title>

	<!-- :: Google Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap">

	<!-- :: Fontawesome -->
	<link rel="stylesheet" href="/assets/fonts/fontawesome/css/all.min.css">

	<!-- :: Flaticon -->
	<link rel="stylesheet" href="/assets/fonts/flaticon/css/flaticon.css">

	<!-- :: OWL Carousel -->
	<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">

	<!-- :: Nice Select CSS -->
	<link rel="stylesheet" href="/assets/css/nice-select.css">

	<!-- :: Lity -->
	<link rel="stylesheet" href="/assets/css/lity.min.css">

	<!-- :: Animate CSS -->
	<link rel="stylesheet" href="/assets/css/animate.css">

	<!-- :: Style CSS -->
	<link rel="stylesheet" href="/assets/css/style.css">

	<!-- :: Style Responsive CSS -->
	<link rel="stylesheet" href="/assets/css/responsive.css">

	<!--[if lt IE 9]>
					<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
					<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<link href="~/assets/css/style-zavosh.css" rel="stylesheet" />
</head>

<body>
	<!-- :: Loading -->
	<div class="loading">
		<div class="loading-box">
			<div class="sk-fading-circle">
				<div class="sk-circle1 sk-circle"></div>
				<div class="sk-circle2 sk-circle"></div>
				<div class="sk-circle3 sk-circle"></div>
				<div class="sk-circle4 sk-circle"></div>
				<div class="sk-circle5 sk-circle"></div>
				<div class="sk-circle6 sk-circle"></div>
				<div class="sk-circle7 sk-circle"></div>
				<div class="sk-circle8 sk-circle"></div>
				<div class="sk-circle9 sk-circle"></div>
				<div class="sk-circle10 sk-circle"></div>
				<div class="sk-circle11 sk-circle"></div>
				<div class="sk-circle12 sk-circle"></div>
			</div>
		</div>
	</div>

	<!-- :: Navs -->
	<header class="navs">
		<div class="nav-top">
			<div class="container">
				<div class="nav-top-box d-flex align-items-center justify-content-between rtl">
					<ul class="info">
						<li><span>ایمیل:</span> info@domain.com</li>
						<li><span>تلفن:</span> +(98) 21-22222222</li>
					</ul>
					<ul class="icon-follow">
						<li><a class="icon" href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li><a class="icon" href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a class="icon" href="#"><i class="fas fa-rss"></i></a></li>
						@*<li><a class="icon open-search-box" href="#"><i class="fas fa-search"></i></a></li>
						<li><a class="icon open-menu" href="#"><i class="fas fa-th"></i></a></li>*@
						<li><a class="btn-1 btn-2" href="01_contact.html">مشاوره آنلاین رایگان</a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- :: Navbar -->
		<nav class="nav-bar">
			<div class="container">
				<div class="box-content d-flex align-items-center justify-content-between rtl">
					<div class="logo">
						<a href="index.html" class="logo-nav">
							<img class="img-fluid one" src="/assets/images/logo/01_logo.png" alt="01 Logo">
							<img class="img-fluid two" src="/assets/images/logo/02_logo.png" alt="02 Logo">
						</a>
						<a href="#open-nav-bar-menu" class="open-nav-bar">
							<span></span>
							<span></span>
							<span></span>
						</a>
					</div>
					<div class="nav-bar-link" id="open-nav-bar-menu">
						<ul class="level-1">
							<li><a href="/" class="color-active">خانه</a></li>
							
							<li class="has-menu">
								<a href="#">خانواده</a>
								<ul class="level-2">
									<li><a href="#">	طلاق</a></li>
									<li><a href="#">	طلاق توافقی</a></li>
									<li><a href="#">	طلاق از طرف مرد</a></li>
									<li><a href="#">	طلاق از طرف زن</a></li>
									<li><a href="#">	مهریه</a></li>
									<li><a href="#">	نفقه</a></li>
									<li><a href="#">	اجرت المثل</a></li>
									<li><a href="#">	حضانت فرزند</a></li>
									<li><a href="#">	استرداد جهیزیه</a></li>

							 
								</ul>
							</li>
							<li class="has-menu">
								<a href="#">کیفری
								</a>
								<ul class="level-2">
									<li><a href="#">سرقت</a></li>
									<li><a href="#">قتل</a></li>
									<li><a href="#">مواد مخدر</a></li>
									<li><a href="#">رابطه نامشروع</a></li>
									<li><a href="#">ضرب و جرح</a></li>
								</ul>
							</li>
							<li class="has-menu">
								<a href="#">مالی</a>
								<ul class="level-2">
									<li><a href="#">مطالبه وجه چک
							
									</a></li>
									<li><a href="#">			مطالبه وجه سفته
									</a></li>
									<li><a href="#">	مطالبه وجه
									</a></li>
									<li><a href="#">	توقیف اموال</a></li>
								</ul>
							</li>
							<li class="has-menu">
								<a href="#">ملکی و حقوقی
								</a>
								
								<ul class="level-2">
									<li><a href="#">تخلیه ملک</a></li>
									<li><a href="#">مطالبه سرقفلی و  حق کسب</a></li>
									<li><a href="#">افراز ملک مشاع</a></li>
									<li><a href="#">	فروش ملک مشاع</a></li>
									<li><a href="#">	تخلیه ملک مسکونی</a></li>
									<li><a href="#">فک رهن</a></li>
								</ul>
							</li>
					 
							<li><a href="/">مقالات</a></li>
							<li><a href="/">درباره ما</a></li>
							<li><a href="/">تماس با ما</a></li>

						</ul>
					</div>
					<div class="info-nav">
						<i class="flaticon-call"></i>
						<div class="contact-nav">
							<p>+(98) 2122909382</p>
							<span>جهت تعیین وقت مشاوره</span>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>

  
	<header class="header" id="page">
		<div class="header-owl owl-carousel owl-theme">
			<div class="sec-hero display-table" style="background-image: url(/assets/images/header/01_header.jpg)">
				<div class="table-cell">
					<div class="overlay"></div>
					<div class="container">
						<div class="row slide-item">
							<div class="col-lg-6">
								<div class="banner">
									<div class="headline-top">پذیرش وکالت و شکواییه</div>
									<h1 class="handline">مشاوره حقوقی</h1>
									<p class="about-website">موسسه حقوقی صور آخر با کادری مجرب آماده ارائه خدمات حقوقی به مشتریان گرامی می باشد</p>
									<a class="btn-1 btn-2 move-section" href="#">اطلاعات بیشتر</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sec-hero display-table" style="background-image: url(/assets/images/header/03_header.jpg)">
				<div class="table-cell">
					<div class="overlay"></div>
					<div class="container">
						<div class="row slide-item">
							<div class="col-lg-6">
								<div class="banner">
									<div class="headline-top">گروه ولاکی صور آخر</div>
									<h1 class="handline">قبول وکلات در تمام زمینه های حقوقی</h1>
									<p class="about-website">از جمله: امور خانواده، امور ثبتی، امور حقوقی، امور کیفری و ...</p>
									<a class="btn-1 move-section" href="#">درباره ما</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		 
		</div>
	</header>

	<!-- :: Features -->
	<section class="features">
		<div class="container">
			<div class="features-box">
				<div class="features-item">
					<i class="flaticon-detective"></i>
					<div class="item-text">
						<span>موسسه حقوقی صور آخر</span>
						<h4>دارای وکلای خبره</h4>
						<p>وکلای با تجربه و خبره در موسسه صور آخر</p>
					</div>
				</div>
				<div class="features-item">
					<i class="flaticon-oath"></i>
					<div class="item-text">
						<span>کمترین تعداد</span>
						<h4>پرونده شکست خوردهه</h4>
						<p>کمترین تعداد پرونده شکست خورده در سال</p>
					</div>
				</div>
				<div class="features-item">
					<i class="flaticon-libra"></i>
					<div class="item-text">
						<span>دارای عملکرد بالا</span>
						<h4>در کلیه دادگاه ها</h4>
						<p>درای عملکرد و موفقیت بالا در کلیه زمینه ها</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- :: About -->
	<section class="about py-100" id="about-us">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="img-box">
						<div class="about-img">
							<img class="img-fluid" src="/assets/images/about/01_about.jpg" alt="01 About">
						</div>
						<div class="case-about">
							<i class="flaticon-law-book"></i>
							<div class="counter">1930</div>
							<h5>پرونده موفق</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="text-box">
						<div class="sec-title">
							<h2>درباره ما</h2>
							<h3>امور حقوقی خود را با خیالی آسوده برون سپاری کنید</h3>
							<p>تجربه بالا، دانش به روز، آموزش مداول و قدرت تصمیم گیری باعث شده است تا وکلای موسسه حقوقی صور آخر بهترین عملکرد را در سال های اخیر داشته باشند</p>
						</div>
						<ul class="core-about">
							<li>
								<i class="fas fa-check"></i>
								<h4>ارائه راه حل های عملی</h4>
							</li>
							<li>
								<i class="fas fa-check"></i>
								<h4>صرفه جویی در وقت موکل</h4>
							</li>
							<li>
								<i class="fas fa-check"></i>
								<h4>تسلط بالا بر روی قوانین</h4>
							</li>
							<li>
								<i class="fas fa-check"></i>
								<h4>تجربه خوشایند موکلان</h4>
							</li>
						</ul>
						<div class="row">
							<div class="col-sm-6">
								<p class="p-about">همه موارد بالا دلایلی هستند که با افتخار توانسته ایم رضایت موکلان خود را جلب نماییم</p>
							</div>
							<div class="col-sm-6">
								<p class="p-about">مهمترین هدف ما جلب رضایت موکلین و کسب بهترین نتیجه برای موکلین می باشد.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<a class="btn-1" href="#">اطلاعات بیشتر</a>
							</div>
							<div class="col-sm-6 d-flex align-items-center">
								@*<img class="img-fluid sign-about" src="/assets/images/sign.png" alt="Sign About">*@
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- :: Practice Area -->
	<section class="practice-area py-100-70">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="sec-title text-center">
						<h3>خدمات حقوقی صور آخر</h3>
						<p>در این بخش تعدادی از خدمات اصلی موسسه حقوقی صور آخر را ملاحضه می فرمایید. کلیه خدمات این مجموعه از طریق منو وب سایت در دسترس می باشد.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<div class="practice-area-item">
						<i class="flaticon-act"></i>
						<div class="content">
							<h4>امور کسب و کارها</h4>
							<p>مشاوره در زمینه کلیه امور حقوقی کسب و کارها </p>
							<a href="#">اطلاعات بیشتر</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="practice-area-item">
						<i class="flaticon-lawyer-1"></i>
						<div class="content">
							<h4>خانواده</h4>
							<p>شامل کلیه امور مربوط به طلاق و مهریه و نفقه و حضانت</p>
							<a href="#">اطلاعات بیشتر</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="practice-area-item">
						<i class="flaticon-folder"></i>
						<div class="content">
							<h4>ملکی</h4>
							<p>کلیه امور حقوقی ملکی شامل تخلیه، سرقفلی، مشکلات ملک های مشاع و ...</p>
							<a href="#">اطلاعات بیشتر</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="practice-area-item">
						<i class="flaticon-libra"></i>
						<div class="content">
							<h4>عقود قراردادها</h4>
							<p>مشاور در زمینه عقود کلیه امور مربوط به عقد قراردادها</p>
							<a href="#">اطلاعات بیشتر</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="practice-area-item">
						<i class="flaticon-criminal"></i>
						<div class="content">
							<h4>امور کیفری</h4>
							<p>وکالت کلیه امور کیفری نظیر سرقت، قتل، مواد مخدر، رابطه نامشروع و ضرب و جرح</p>
							<a href="#">اطلاعات بیشتر</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="practice-area-item">
						<i class="flaticon-jury"></i>
						<div class="content">
							<h4>امور مالی</h4>
							<p>وکالت و مشاوره در زمینه کلیه امور مالی از جمله چک و سفته و ...</p>
							<a href="#">اطلاعات بیشتر</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- :: History -->
	<section class="history">
		<div class="bg-section">
			<div class="overlay"></div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="sec-title text-center">
						<h3>ثبت پرسش های حقوقی</h3>
						<p>می توانید با ثبت سوالات حقوقی خود، از وکلای موسسه حقوقی صور آخر، به صورت رایگان کمک بگیرید						</p>
					</div>
				</div>
			</div>
	 
	 
		</div>

		<!-- :: Quote -->
		<div class="quote">
			<div class="container">
				<div class="box">
					<div class="row">
						<div class="col-lg-4">
							<div class="img-box">
								<div class="quote-img">
									<img class="img-fluid" src="/assets/images/quote/01_quote.jpg" alt="01 Quote">
								</div>
								<div class="quote-info">
									<i class="flaticon-call"></i>
									<h4>02122839284</h4>
								</div>
							</div>
						</div>
						<div class="col-lg-8">
							<div class="quote-box">
								<div class="sec-title">
									<h3>مشاوره حقوقی</h3>
									<p>می توانید با ثبت سوالات حقوقی خود، از وکلای موسسه حقوقی صور آخر، به صورت رایگان کمک بگیرید						</p>						</div>
								<div class="row">
									<div class="col-md-6">
										<div class="quote-item">
											<input type="text" name="name" placeholder="نام">
										</div>
									</div>
									<div class="col-md-6">
										<div class="quote-item">
											<input type="email" name="email" placeholder="ایمیل">
										</div>
									</div>
									<div class="col-md-6">
										<div class="quote-item">
											<input type="text" name="subject" placeholder="موضوع سوال">
										</div>
									</div>

									<div class="col-md-6">
										<div class="quote-item">
											<input type="text" name="cell" placeholder="شماره موبایل">
										</div>
									</div>
									<div class="col-md-12">
										<div class="quote-item">
											<div class="quote-item">
												<textarea placeholder="سوال شما"></textarea>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="quote-item">

											<a class="btn-1" href="#">ارسال سوال</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

  


	<!-- :: Advisors -->
	<section class="advisors py-100-70">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="sec-title text-center">
						<h3>وکلای موسسه حقوقی صور آخر</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<div class="advisors-box">
						<div class="img-box">
							<img class="img-fluid" src="/assets/images/advisors/01_advisors.jpg" alt="01 advisors">
							<div class="img-box-hover">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
									<li><a href="#"><i class="fab fa-behance"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="text-box text-center">
							<h5>Anwar Ramadan</h5>
							<span>Civil Lawyer</span>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="advisors-box">
						<div class="img-box">
							<img class="img-fluid" src="/assets/images/advisors/02_advisors.jpg" alt="02 advisors">
							<div class="img-box-hover">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
									<li><a href="#"><i class="fab fa-behance"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="text-box text-center">
							<h5>Osama Bakri</h5>
							<span>Business Lawyer</span>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="advisors-box">
						<div class="img-box">
							<img class="img-fluid" src="/assets/images/advisors/03_advisors.jpg" alt="03 advisors">
							<div class="img-box-hover">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
									<li><a href="#"><i class="fab fa-behance"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="text-box text-center">
							<h5>Sana El-Shamy</h5>
							<span>Criminal Defence</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<section class="contact py-100">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<div class="sec-title text-center">
						<h3>آیا در جستجوی مشاوره حقوقی هستید؟</h3>
						<p>موسسه حقوقی صور آخر ارائه دهنده خدمات مشاوره آنلاین، تلفنی و حضوری در کلیه امور حقوقی</p>
						<a class="btn-1 btn-3" href="#">ثبت درخواست مشاوره</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- :: Blog -->
	<section class="bolg py-100-70">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="sec-title text-center">
						<h3>مقالات</h3>
						<p>در بخش مقالات وب سایت صور آخر از جدیدترین مقالات و موضوعات حقوقی با خبر شوید</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<div class="blog-item">
						<div class="img-box">
							<a href="02_blog.html" class="open-post">
								<img class="img-fluid" src="/assets/images/blog/01_blog.jpg" alt="01 Blog">
							</a>
					 
						</div>
						<div class="text-box">
							<span class="blog-date">1 اسفند 1398</span>
							<a href="02_blog.html" class="title-blog">
								<h5>نحوه اجرای احکام دیوان عدالت اداری چگونه است؟
								</h5>
							</a>
							<p> طبق ماده 107 قانون عدالت اداری، کلیه اشخاص و مراجع طرف شکایت در دیوان عدالت اداری مکلف اند آراء دیوان را پس از اینکه ابلاغ شدند، فورا اجرا نمایند. </p>
							<a href="02_blog.html" class="link">ادامه مطلب</a>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-4">
					<div class="blog-item">
						<div class="img-box">
							<a href="02_blog.html" class="open-post">
								<img class="img-fluid" src="/assets/images/blog/02_blog.jpg" alt="01 Blog">
							</a>

						</div>
						<div class="text-box">
							<span class="blog-date">1 اسفند 1398</span>
							<a href="02_blog.html" class="title-blog">
								<h5>
									چگونه از شهرداری شکایت کنیم؟
								</h5>
							</a>
							<p>شهرداری ها یکی از نهاد های دولتی هستند که به منظور شکایت از آنها درخواست های زیادی از جانب مردم مطرح می شود.  به همین دلایل قانونگذار راه های مختلفی را برای شکایت از شهرداری ها و نهاد های دولتی پیش بینی کرده است. </p>
							<a href="02_blog.html" class="link">ادامه مطلب</a>
						</div>
					</div>
				</div>
				

				<div class="col-md-6 col-lg-4">
					<div class="blog-item">
						<div class="img-box">
							<a href="02_blog.html" class="open-post">
								<img class="img-fluid" src="/assets/images/blog/03_blog.jpg" alt="01 Blog">
							</a>

						</div>
						<div class="text-box">
							<span class="blog-date">1 اسفند 1398</span>
							<a href="02_blog.html" class="title-blog">
								<h5>
									اثبات خیانت همسر
								</h5>
							</a>
							<p> آغاز و با طلاق یا فوت یکی از زوجین پایان می یابد؛ ولی برخلاف قوانین جاریه و شرع مقدس که روابط پیش از ازدواج را قانونی و مشروع نمی داند،  </p>
							<a href="02_blog.html" class="link">ادامه مطلب</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- :: Footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-3">
					<div class="logo">
						<img class="img-fluid" src="/assets/images/logo/03_logo.png" alt="Footer Logo">
						<p>موسسه حقوقی صور آخر با کادری مجرب، آماده ارائه خدمات در کلیه امور حقوقی از جلمه خانواده، کیفری، امور ثبتی، امور مالی و ... می باشد.</p>
						<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-2">
					<div class="footer-title">
						<h4>صور آخر</h4>
					</div>
					<ul class="links">
						<li><a href="01_about.html">درباره ما</a></li>
						<li><a href="01_advisors.html">وکلای ما</a></li>
						<li><a href="01_testimonial.html">تماس با ما</a></li>
						<li><a href="01_case-study.html">خدمات ما</a></li>
						<li><a href="02_blog.html">مقالات</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-2">
					<div class="footer-title">
						<h4>خدمات حقوقی</h4>
					</div>
					<ul class="links">
						<li><a href="01_practice-areas.html">خانواده</a></li>
						<li><a href="01_timeline.html">کیفری</a></li>
						<li><a href="01_sponsors.html">مالی</a></li>
						<li><a href="01_faq.html">حقوقی</a></li>
						<li><a href="01_shop.html">ملکی</a></li>
					</ul>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="newsletter">
						<h5>خبرنامه</h5>
						<p>با عضویت در خبرنامه صور آخر از جدیدترین مقالات و تازه های علمی با خبر شوید</p>
						<div class="nlform">
							<input type="email" name="email" placeholder="ایمیل خود را وارد کنید ">
							<a href="#"><i class="fas fa-arrow-left"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				<p>کلیه حقوق این سایت متعلق به موسسه صور آخر می باشد. طراحی سایت و سئو <a href="#">زاوش</a></p>
			 
			</div>
		</div>
	</footer>

	<!-- :: Scroll UP -->
	<div class="scroll-up">
		<a href="#page" class="move-section">
			<i class="fas fa-long-arrow-alt-up"></i>
		</a>
	</div>

	<!-- :: jQuery JS -->
	<script src="/assets/js/jquery-3.5.1.min.js"></script>

	<!-- :: Popper JS -->
	<script src="/assets/js/popper.min.js"></script>

	<!-- :: BootStrap JS -->
	<script src="/assets/js/bootstrap.min.js"></script>

	<!-- :: OWL Carousel -->
	<script src="/assets/js/owl.carousel.min.js"></script>

	<!-- :: Nice Select -->
	<script src="/assets/js/jquery.nice-select.min.js"></script>

	<!-- :: Waypoints -->
	<script src="/assets/js/jquery.waypoints.min.js"></script>

	<!-- :: CounterUp -->
	<script src="/assets/js/jquery.counterup.min.js"></script>

	<!-- :: Lity -->
	<script src="/assets/js/lity.min.js"></script>

	<!-- :: Main JS -->
	<script src="/assets/js/main.js"></script>
</body>
</html>
