<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-3">
				<div class="logo">
					<img class="img-fluid" src="/assets/images/logo/03_logo.png" alt="Footer Logo">
					<p>موسسه حقوقی صور آخر با کادری مجرب، آماده ارائه خدمات در کلیه امور حقوقی از جلمه خانواده، کیفری، امور ثبتی، امور مالی و ... می باشد.</p>
					<ul>
						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-2">
				<div class="footer-title">
					<h4>صور آخر</h4>
				</div>
				<ul class="links">
					<li><a href="01_about.html">درباره ما</a></li>
					<li><a href="01_advisors.html">وکلای ما</a></li>
					<li><a href="01_testimonial.html">تماس با ما</a></li>
					<li><a href="01_case-study.html">خدمات ما</a></li>
					<li><a href="02_blog.html">مقالات</a></li>
				</ul>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-2">
				<div class="footer-title">
					<h4>خدمات حقوقی</h4>
				</div>
				<ul class="links">
					<li><a href="01_practice-areas.html">خانواده</a></li>
					<li><a href="01_timeline.html">کیفری</a></li>
					<li><a href="01_sponsors.html">مالی</a></li>
					<li><a href="01_faq.html">حقوقی</a></li>
					<li><a href="01_shop.html">ملکی</a></li>
				</ul>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<div class="newsletter">
					<h5>خبرنامه</h5>
					<p>با عضویت در خبرنامه صور آخر از جدیدترین مقالات و تازه های علمی با خبر شوید</p>
					<div class="nlform">
						<input type="email" name="email" placeholder="ایمیل خود را وارد کنید ">
						<a href="#"><i class="fas fa-arrow-left"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<p>کلیه حقوق این سایت متعلق به موسسه صور آخر می باشد. طراحی سایت و سئو <a href="#">زاوش</a></p>

		</div>
	</div>
</footer>
