@model ViewModels._BaseViewModel

<header class="navs">
	<div class="nav-top">
		<div class="container">
			<div class="nav-top-box d-flex align-items-center justify-content-between rtl">
				<ul class="info">
					<li><span>ایمیل:</span> info [at] kakheedalat.com</li>
					<li><span>تلفن:</span><a href="tel: 00982122803033"> 22803033-021</a></li>
				</ul>
				<ul class="icon-follow">
					<li><a class="icon" href="#"><i class="fab fa-facebook-f"></i></a></li>
					<li><a class="icon" href="#"><i class="fab fa-twitter"></i></a></li>
					<li><a class="icon" href="https://www.instagram.com/kakhedalatmonji/" rel="noopenet" target="_blank"><i class="fab fa-instagram"></i></a></li>
					@*<li><a class="icon open-search-box" href="#"><i class="fas fa-search"></i></a></li>
						<li><a class="icon open-menu" href="#"><i class="fas fa-th"></i></a></li>*@
					<li><a class="btn-1 btn-2" href="/consultant">مشاوره آنلاین رایگان</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- :: Navbar -->
	<nav class="nav-bar">
		<div class="container">
			<div class="box-content d-flex align-items-center justify-content-between rtl">
				<div class="logo">
					<a href="/" class="logo-nav">
						<img class="img-fluid one" src="/assets/images/logo/01_logo.png" alt="01 Logo">
						<img class="img-fluid two" src="/assets/images/logo/02_logo.png" alt="02 Logo">
					</a>
					<a href="#open-nav-bar-menu" class="open-nav-bar">
						<span></span>
						<span></span>
						<span></span>
					</a>
				</div>
				<div class="nav-bar-link" id="open-nav-bar-menu">
					<ul class="level-1">
						<li><a href="/" class="color-active">خانه</a></li>
						@foreach (var item in Model.MenuItems)
						{
							<li class="has-menu">
								<a href="/service/@item.ParentService.UrlParam">@item.ParentService.Title</a>
								<ul class="level-2">
									@foreach (var childService in item.ChildServices)
									{
											<li><a href="/service/@childService.UrlParam">@childService.Title</a></li>
									}
								 
								</ul>
							</li>
						} 
						<li><a href="/blog">مقالات</a></li>
						<li><a href="/about">درباره ما</a></li>
						<li><a href="/contact">تماس با ما</a></li>

					</ul>
				</div>
				<div class="info-nav">
					<i class="flaticon-call"></i>
					<div class="contact-nav">
						<p><a href="tel: 00982122803033"> 021-22803033</a></p>
						<span>جهت تعیین وقت مشاوره</span>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>