@font-face {
    font-family: 'Iransans';
    src: url(/fonts/IranSans/IRANSansWebFaNum.eot) format('embedded-opentype'), url(/fonts/IranSans/IRANSansWebFaNum.woff2) format('woff2'), url(/fonts/IranSans/IRANSansWebFaNum.woff) format('woff'), url(/fonts/IranSans/IRANSansWebFaNum.ttf) format('truetype');
}

body, p, a, h1, h2, h3, h4, h5, h6, ul, li, input, button, table, th, td {
    font-family: IRANSans;
}
.rtl {
    direction: rtl;
    text-align: right;
}

.slide-item {
    direction: rtl;
    text-align: right;
}

#about-us .row, .quote .row, .bolg .row, .footer .row {
    direction: rtl;
    text-align: right;
}

footer p {
    text-align: justify;
}