@font-face {
    font-family: 'Iransans';
    src: url(/fonts/IranSans/IRANSansWebFaNum.eot) format('embedded-opentype'), url(/fonts/IranSans/IRANSansWebFaNum.woff2) format('woff2'), url(/fonts/IranSans/IRANSansWebFaNum.woff) format('woff'), url(/fonts/IranSans/IRANSansWebFaNum.ttf) format('truetype');
}

body, p, a, h1, h2, h3, h4, h5, h6, ul, li, input, button, table, th, td {
    font-family: IRANSans;
}
.rtl {
    direction: rtl;
    text-align: right;
}

.slide-item {
    direction: rtl;
    text-align: right;
}

#about-us .row, .quote .row, .bolg .row, .footer .row, .breadcrumb-header .row, .single-practice-areas .row, .single-bolg .row{
    direction: rtl;
    text-align: right;
}

footer p {
    text-align: justify;
}

.single-practice-areas-box p {
    line-height: 32px;
    color: #6b7074;
    text-align: justify;
    font-size: 1.03rem;

}
.single-practice-areas-box h2 {
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-weight: 800;
    color: #000;
    text-align: justify;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.single-practice-areas-box h3 {
    line-height: 1.2rem;
    font-size: 1.2rem;
    font-weight: 800;
    color: #000;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: justify;
}
.single-practice-areas-box h4 {
    line-height: 1rem;
    font-size: 1.2rem;
    font-weight: 800;
    color: #000;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: justify;
}
.single-practice-areas-box ul {
    list-style: circle;
    color: #404548;
}
.single-practice-areas-box ol {
    color: #404548;
}

#errorDiv, #SuccessDiv {
    display: none;
}
.service-title{
    text-align:end;
    padding-block-end:1.5rem;
}